.messagesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messagesFeed {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.messagesContainer__messageItem--currentUser {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
}

.messagesContainer__messageItem--otherUser {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 1px solid black;
}

